Test1/Test1/Connected Services/RequestServiceReference/RequestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63501/RequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestWcfService" />
  <xs:element name="CheckForRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForRequestsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:int" />
        <xs:element minOccurs="0" name="approve" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RequestWcfService" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:GetRequestList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>